*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'fuente';
    font-size: 15px;
 }    

 body {
    background: linear-gradient(to right, rgb(250, 232, 70), rgb(244, 144, 31), rgb(245, 125, 6));
 }
        
 @font-face {
            font-family:'fuente' ;
            src: url(fuente/lemon_milk/LEMONMILK-Regular.otf);
}

header {
    display: flex;
    position: fixed;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    top: 0;
    z-index: 1000;
    background: linear-gradient(to right, rgb(250, 232, 70), rgb(244, 144, 31), rgb(245, 125, 6));
    color: white;
}

header img {
    float: left; 
    width: 50px;
    height: 50px;
    border-radius: 50%;
   

}

header h2 {
    margin: 10px;
    font-size: 18px;
    color: #043b02;
}


.barra {
    display: flex;
    gap: 20px;
    margin-left: auto;
    margin-right: 20px;
    flex-wrap: wrap;
}

.boton {
    margin-left: 20px;
    text-decoration: none; 
    padding: 5px 10px; 
    border: 1px solid #000;
    color: #043b02;
    background-color: #ddd;
    transition: 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.boton:hover {
    background-color: white;
}

main h1 {
    margin-top: 70px;
    color: #043b02;
}

main {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}

#intro {
    text-align: center;
}

#intro img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 20px;
}

#contenido {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 40px;
}

#contenido div {
    padding: 20px;
    border-radius: 8px;
}

#contenido div img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 10px;
}

#contenido h2 {
    text-align: center;
    color: #043b02;
    margin-top: 10px;
    margin-bottom: 20px;
}

#contenido p, #contenido ol, #contenido ul {
    margin-top: 10px;
}

li {
    margin-bottom: 10px;
}

#contenido iframe {
    width: 100%;
    border: none;
    margin-top: 20px;
    height: 500px;
}

.restaurante {
    margin-top: 10px;
}

.restaurante h3 {
    color: #043b02;
}

a {
    text-decoration-line: underline;
    color: #043b02
}

a:hover {
    text-decoration: underline;
}

p {
    margin-bottom: 10px;
}

footer {
    margin-bottom: 50px;
    background: linear-gradient(to right, rgb(250, 232, 70), rgb(244, 144, 31), rgb(245, 125, 6));
    color: #043b02;
    padding: auto;
    text-align: center;
    bottom: 0;
    width: 100%;
    font-weight: bold;
    font-size: 10px;
   
  }
  a .nom{
    text-align: left;
    color: #043b02;
  }